.modalContent {
    background: #121212;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #262626;
}

.modalHeader {
    background: transparent;
}

.modalTitle {
    font-weight: 600;
    color: white;
}

.actionIcon {
    background: #121212;
    border: 1px solid #262626;
}
